
<div class="container">
        <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">My Projects</h1>
        </div>

        
        <br/>



            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"><a href="">
                <img src="assets/show/homepage.png" class="img-responsive"></a>
                <a href="https://github.com/anthonyshikanga/Bluecircle">check code <i class="fa fa-github" aria-hidden="true"></i>
</a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle"><a href="https://young-reef-98282.herokuapp.com/">
                <img src="assets/show/Screenshot 2017-09-09 15:50:06.png" class="img-responsive"></a>
                <a href="https://github.com/anthonyshikanga/Shoe-Brand">check code <i class="fa fa-github" aria-hidden="true"></i>
</a>
            </div>

            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"><a href="https://agile-springs-68663.herokuapp.com/">
                <img src="assets/show/Screenshot 2017-09-15 10:33:32.png" class="img-responsive"></a>
                <a href="https://github.com/anthonyshikanga/Bluecircle/tree/anthony">check code <i class="fa fa-github" aria-hidden="true"></i>
</a>
            </div>
            
            

            
            
            

            
        </div>
    </div>
</section>
</div>
