<div class="container">
  
</div>

<h1>
<a href="/skills">Skills</a>
</h1>

<div class="hvr-float" id="availability">
<a href="#"><img src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" title="Ruby on Rails"/></a>
	
</div>