<div style="background-color:black !important" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 style="color:white" class="display-3">Welcome!</h1>
    <h1 style="color:white" class="display-3">Mi Casa is Su Casa :)</h1>
    <p style="color:white" id="example1">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<h1>
<a href="/skills">Skills</a>
</h1>

<div class="hvr-float" id="availability">
<a href="#"><img src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" title="Ruby on Rails"/></a>
	
</div>
<p id="example1">hey</p>