
<!-- Swiper Silder
    ================================================== --> 
<!-- Slider main container -->
<div class="swiper-container main-slider bg" id="myCarousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider-bg-position" style="background:url('http://whpuxin.com/data/out/8/IMG_245706.jpg">
      
      <ul class="fly-in-text invisible new">
      <li>W</li>
      <li>E</li>
      <li>L</li>
      <li>C</li>
      <li>O</li>
      <li>M</li>
      <li>E</li>

        
      </ul>
          </div>
    <div class="swiper-slide slider-bg-position" style="background:url('http://whpuxin.com/data/out/8/IMG_245706.jpg')" data-hash="slide2">
      <h2>Welcome</h2>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->

</div>

<!-- Benefits
    ================================================== -->

<!-- About 
    ================================================== -->
<section class="about-sec parallax-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h2><small>Who I am</small>About<br>
          Me</h2>
      </div>
      <div class="col-md-4">
        <p>Hi, I am a full stack web developer based in Nairobi,Kenya who enjoys building ambitious web applications with my developing skills.I am more than familiar with the MVC framework therefore I am comfortable using web technologies such as rails and emberjs. I am a multidisciplined programmer and over the past two years I have been coding with languages such as java, javascript and ruby. While learning these languages I took the time to master the universal concepts entailed in software engineering allowing me to pick up new languages very fast. If anything I am a firm believer of applying developer best practises when it comes to code and my obssessive attention to detail makes sure of it. .</p>
        <p></p>
      </div>
      <div class="col-md-4">
         <h3>If you assigned me on a project today....</h3>
        <p>I would first of all do an extensive market research on the user the app is intended for, I then transform the project idea into a well thought out design specs backlog to make it clear for both myself and my team. Afterwards I would sketch a low fidelity wireframe representing the user flow in the application. Once this is done I would then design the frontend mockup for each page using photoshop just to give me a feel of what the app should look like. Before I plunge deep into countless hours of coding I would design my backend structure keeping an eye on model relationships and classes I'd use. At this point I usually have an estimate of the timeframe I'd take to complete the whole project I then communicate this to my client and get coding.</p>
        <img src="http://www.azquotes.com/picture-quotes/quote-the-most-important-single-aspect-of-software-development-is-to-be-clear-about-what-you-bjarne-stroustrup-70-1-0190.jpg" class="img-responsive">
        
      </div>
    </div>
  </div>
</section>

 <section class="action-sec">
          <div class="container">

              <div class="action-box text-center"><h2>See my Github</h2><a class="btn btn-success" href="https://github.com/anthonyshikanga" target="_blank">Github link</a></div>
          </div>
      </section>
      
      
      
<h2>
<a href="/skills">Skills</a>
</h2>

<div class="container">
  
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/skills" target="_self">
          <img src="/w3images/lights.jpg" alt="Rails" style="width:100%">
          <div class="caption">
            <p>Ruby on Rails is a full-stack web framework optimized for programmer happiness and sustainable productivity. It encourages beautiful code by favoring convention over configuration.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/skills" target="_self">
          <img src="/w3images/nature.jpg" alt="Javascript" style="width:100%">
          <div class="caption">
            <p>JavaScript, often abbreviated as JS, is a high-level, dynamic, weakly typed, object-based, multi-paradigm, and interpreted programming language.</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/skills" target="_self">
          <img src="/w3images/fjords.jpg" alt="Testing" style="width:100%">
          <div class="caption">
            <p>Test techniques include the process of executing a program or application with the intent of finding software bugs (errors or other defects), and verifying that the software product is fit for use..</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function() {
     setTimeout(function(){
    $('.fly-in-text').removeClass('invisible').removeClass('new') }, 500);
  })();
</script>
