<div class="backg">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-login">
            <h4>Welcome back.</h4>
             <%= f.email_field :email, autofocus: true %>
           <!--  <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" /> -->
            </br>
            <%= f.password_field :password, autocomplete: "off" %>
            <!-- <input type="text" id="userPassword" class="form-control input-sm chat-input" placeholder="password" --> 
            </br>
            <div class="wrapper">
            <span class="group-btn">     
               <%= f.submit  "Sign in", :class => 'btn btn-primary' %>
            </span>
            </div>
            </div>
        
        </div>
    </div>
</div>

<% end %>
</div>