<p id="notice"><%= notice %></p>

<h1>Recommendations</h1>
<br>

<div id="reference-form" style="display:none;"></div>
<%= link_to 'New Reference', new_reference_path, remote: true, class: "btn btn-success" %>
<div id="references"><%= render @references %></div>


