<p id="notice"><%= notice %></p>

<h1>Recommendations</h1>
<br>

<%= link_to 'New Reference', new_reference_path, remote: true, class: "btn btn-success", id:'new-reference' %>
<div id="reference-form"></div>
<div id="references"><%= render @references %></div>


