<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                  <h3>Contact me</h3>
                <div><ul><li>mobile</li><li>0741744525</li><li>anthonyshikanga@gmail.com</li></ul></div>
                    
                </div><div class="col-xs-2">
                    
                </div>
                
              
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                <h3>Links</h3>
                <div>
                          <ul>
                    <li><a href="/posts">Blog</a></li>
			<li><a href="/showcase">My work</a></li>
			<li><a href="/skills">Skills/a></li>
			</ul>
			</div>

                    
                </div><div class="col-md-3"><img src="https://d21ii91i3y6o6h.cloudfront.net/gallery_images/from_proof/1350/large/1400592601/programmer.png"></div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Social media </h3>

                    

                    <ul class="social">
                        <li> <a href="https://www.linkedin.com/in/anthony-shikanga-a87576123/"> <i class=" fa fa-linkedin fa-lg">   </i> </a> </li>
                        <li> <a href="https://twitter.com/shiks_tony?lang=en"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="https://plus.google.com/"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="https://github.com/anthonyshikanga"> <i class="fa fa-github">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            
            <div class="pull-right">
                 
            </div>
        </div>
    </div>
    <!--/.footer-bottom--> 
</footer>
